
<p>下記のリンクから新しいパスワードを設定して下さい</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は15分です。</p>
