<h3 >通知</h3>
    <%= link_to notifications_path, method: :delete, class: "right" do %>
        <i class="fas fa-trash" style="color: red;"></i>
      <span>すべて削除</span>
    <% end %>
    <hr>
<% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>現在通知はありません</p>
<% end %>

<div href="#" class="list-group-item list-group-item-action">
   <div class="d-flex w-100 justify-content-between">
     <h5 class="mb-1">fnafjkda</h5>
    <small>fkajfka</small>

   </div>
   <p class="mb-1">fjafjak</p>
 </div>
