
<div class = "container center">
    <h2>ようこそオーナーアカウントへ！</h2>
   <img class="wide-img" src="https://purchase-app-backet.s3.amazonaws.com/uploads/welcome.jpg" alt="Something">
    <%= link_to "早速店舗を開設する→", new_store_path(current_user),class: "btn btn-success margin-vertical" %>
</div>