
<div class = "container center">
    <h2>ようこそオーナーアカウントへ！</h2>
    <%= image_tag "welcome", style: "border-radius:5px", :size =>'1000x400' %>
    <%= link_to "早速Storeを開設する→", new_store_path(current_user),class: "btn btn-success margin-vertical" %>
</div>