

<div class = "container">
    <table class="table table-striped">
  <thead>
    <tr class = "table-primary">
      <th scope="col">商品名</th>
      <th scope="col">価格</th>
      <th scope="col">アクション</th>
    </tr>
  </thead>
   <tbody>
       <% @productions.each do |production| %>
    <tr>
      <td><%= production.name %></td>
      <td><%= production.price %></td>
      <td>
        <%= link_to edit_production_path(production),class: "btn btn-outline-success" do %><span class = "fa fa-edit"></span><% end %>
        <%= link_to production_path(production),method: :delete, data: {confirm: "本当に削除しますか？"},class: "btn btn-outline-danger" do %><span class = "fa fa-trash"></span><% end %>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>

</div>