<div class = "overlay-wrapper">

 <div class = "overlay-dark">
    <h1>Welcome To My Store App!</h1>
    <h5>hogeアプリに登録して自分の店舗と商品を作ろう！</h5>
    <div class = "top-btn-wrapper">
         <%= link_to "新規登録", new_user_path, class: "btn btn-success", data: {"turbolinks" => false}  %>
         <%= link_to "Login", new_session_path, class: "btn btn-light"%>
         <br /><br />
    </div>
 </div>
</div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d9c02be7-715a-4063-b84f-dd53e9f7cdd1" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
<a href="//af.moshimo.com/af/c/click?a_id=1492178&p_id=54&pc_id=54&pl_id=6036&guid=ON" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//image.moshimo.com/af-img/0032/000000006036.gif" width="116" height="28" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=1492178&p_id=54&pc_id=54&pl_id=6036" width="1" height="1" style="border:none;">
<a href="//af.moshimo.com/af/c/click?a_id=1492182&p_id=170&pc_id=185&pl_id=4065&guid=ON" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//image.moshimo.com/af-img/0068/000000004065.gif" width="109" height="28" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=1492182&p_id=170&pc_id=185&pl_id=4065" width="1" height="1" style="border:none;">
<%= render "products/search_form" %>
