<div class = "center">
    <div class = "overlay-wrapper">
     <div class = "overlay-dark">
        <h1>Welcome To My Store App!</h1>
        <h5>アプリに登録して自分のお店と商品を作ろう！</h5>
        <div class = "top-btn-wrapper">
             <%= link_to "新規登録", new_user_path, class: "btn btn-success" %>
             <%= link_to "Login", new_session_path, class: "btn btn-light"%>
             <br /><br />
        </div>
        
     </div>
    </div>
</div>


