<div class="pd">
  <% if @price["average"] %>
  <h4>Amazon</h4>
    <ul class = "">
      <li>平均値: <%= @price["average"] %></li>
      <li>最高価格: <%= @price["max"] %></li>
      <li>最低価格: <%= @price["min"] %></li>
    </ul>
  <% else %>
    <p>価格の取得が終了していません。しばらく経ってからまたアクセスしてください.
    </p>
  <% end %>
</div>
