<h4>LINE登録してもっとアプリを便利に！</h4>


<p>さっそく登録してみてみましょう↓</p>



<%= image_tag "/line_bot_QR.png", calss: "mid-img", style: "box-shadow:0px 0px 4px rgba(20,20,20,0.7)"%>


<div class="col-lg-6  middle">
  <ul class = "line-information">
    <li><i class="fas fa-check"></i>　在庫変更などをラインで実行</li>
    <li><i class="fas fa-check"></i>　カートの中身をいつでも確認</li>
    <li><i class="fas fa-check"></i>　購入などの通知をLINEで確認</li>

  </ul>
</div>
