<% if current_user %>

<div class = "side-bar margin-vertical">
    <ul class="list-group">
        <li class="list-group-item">
          カート内:　<span class = "price">¥<%= current_user.considering_products.sum(:price)%></span>
        </li>
        <li></li>
        <li><%= render "products/search_form" %></li>
      </ul>
 </div>

<% end %>
